__pycache__/
*/__pycache__/
*.pyc
*/*.pyc
*.svg
*.json
!*/resources/configs/labeled_sequences/*.json
*.pickle
!live_resources/*.pickle
*.venv
*venv

node_modules

*.DS_Store
*.mp4
!**/test_009_1Tor.mp4
!**/test_010_1Tor.mp4
!**/test_011_2Tore.mp4

*.log

bin/
huggingface.zip
huggingface
lib/
pyvenv.cfg
share/

cv/tests/detected/**
!cv/tests/annotated/**

!**/.gitkeep